<h1> Please fill the form to add a restaurant</h1>

<!-- A visitor can add a new restaurant,
and be redirected to the show view of that new restaurant.
They fill the form (get, new) and submit it (post, create). -->
